/* --------------------
     VARIABLES
   --------------------*/

:root {
    --primary-color: hsl(0, 0%, 95%);
    --seconday-color: #102a42;
    --radius: 0.5rem;

    --nav-height: 5rem;

}


/* --------------------
     GLOBAL STYLES
   --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--seconday-color);

}

h1, h2, h3 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}


/* --------------------
     NAV STYLES
   --------------------*/

nav {
    background-color: #FFF;
    height: var(--nav-height);
    display: grid;
    align-items: center;
    place-items: center;
    box-shadow: 0 1px 3px var(--seconday-color);
}

main {
    min-height: calc(100vh - var(--nav-height));
    display: grid;
    place-items: center;
}


/* --------------------
     CONTAINERS STYLES
   --------------------*/

.container {
    text-align: center;
}

.container h2 {
    background-color: var(--seconday-color);
    color: var(--primary-color);
    padding: 1rem;
    border-radius: var(--radius);
    margin-bottom: 2.5rem;
}

.color {
    color: hsl(210, 36%, 96%);
}

.btn {
    text-transform: uppercase;
    background-color: transparent;
    color: #000;
    font-weight: 700;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.btn:hover{
    color: var(--primary-color);
    background-color: var(--seconday-color);
}